/*===================================
             HEADER
===================================*/

.header {
  &__links {
    color: $color-black;
  }
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  color: $color-black;
}

a {
  text-decoration: none;
}

ul {
  padding-right: 2.0rem;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: $color-black;
  border-bottom: 1px solid #e2e2e2;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding: 0.8rem;
}

link {
  color: black;
}

header {
  background: #fff;
  align-items: center;
  padding: 1rem;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  &__links {
    padding: 3.5rem;
  }
}

header .logo {
  color: $color-black;
  flex-grow: 1;
  height: 22px;
}

// top intro
.header-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/frontpic.jpg);
  height: 600px;
  width: 100%;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  &__container {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
  }
  &__heading {
    font-size: 4rem;
    color: $color-white;
  }
  &__button {
    padding-top: 15rem;
  }
}

a {
  color: $color-black;
}

//NAV 
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: white;
  color: white;
}

#header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
}

#nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}

#nav ul li {
  list-style: none;
}

#nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

@media (max-width: 599px) {
  #header .container {
    width: 100%;
  }
  #header h1 {
    padding-left: 3%;
  }
  #nav {
    width: 100%;
    top: 60px;
  }
  #nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }
  #nav ul {
    background: $color-white;
    width: 100%;
    margin: 0px;
  }
  #nav ul li {
    float: none;
  }
  #nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid white;
    ;
  }
}