/*===================================
             HEADER
===================================*/

.header  {
  color: $color-black;
  position: fixed;
  text-align: center;
  font-size: 1.5rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 3px 4px $color-black;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  &__logo {
    color: $color-black;
    text-decoration: none;
  }
  &__group {
    list-style: none;

    &--item {
      font-size: 2.0rem;
      padding: 1.5rem;
      display: inline-block;
    }
  }
  a {
    color: $color-black;
    text-decoration: none;
  }
}


// top intro
.header-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/frontpic.jpg);
  height: 600px;
  width: 100%;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  &__container {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
  }
  &__heading {
    font-size: 4rem;
    color: $color-white;
  }
  &__button {
    padding-top: 15rem;
  }
}